.link:hover{
    background-color: #7900ff;;

    transition: background-color 2.9s;
}

@media screen and (max-width : 1140px) {
    .home-container{
        flex-direction: column;
        height: auto;
    }
}